/* white */

.MenuContainer {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 3px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 4, 0.2, 0, 0);
    /*-fx-pref-width: 654;
    -fx-pref-height: 492;*/
}

/*-fx-font-family: Articulat CF;*/

.MainHeadlne{
    -fx-font-style: normal;
    -fx-font-weight: 800;
    -fx-font-size: 36px;
    -fx-text-fill: #005AAE;
    -fx-line-height: 43px;
}

.SceneBackground{
    -fx-background-color: #EDEEF0;
}

.LabelButton{
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-line-height: 17px;
    -fx-alignment: center;
    -fx-text-fill: #005AAE;
}

.Button{
    -fx-font-style: normal;
    -fx-font-weight: 800;
    -fx-font-size: 14px;
    -fx-line-height: 17px;
    -fx-alignment: center;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 3px;
    -fx-background-color: #B5B5B5;
}

.GreenButton{
    -fx-background-color: #589E57;
}

.BlueButton{
    -fx-background-color: #005AAE;
}

.GreyButton{
    -fx-background-color: #B5B5B5;
}

.CommonText{
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-line-height: 18px;
    -fx-text-fill: #2E2E2E;
    -fx-wrap-text: true;
    /*-fx-background-color: #C8C9CB;*/
    -fx-text-alignment: center;
    -fx-control-inner-background: #EDEEF0;
    -fx-border-color: #C8C9CB;
    -fx-border-radius 3px;
    -fx-border-width: 0.5px;
}

CommonTextCenter *.text{
    -fx-text-alignment: center;
}

.MainText{
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 16px;
    -fx-line-height: 20px;
    -fx-control-inner-background: #303030;
}

.BigLetters{
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-font-size: 36px;
    -fx-line-height: 42px;
    -fx-text-fill: #005AAE;

}